<div class="mainPage">
    <app-carousel
        [bannerData]="bannerData"
    >

    </app-carousel>
    <category-tab
        class="app-main-page-recommend-tab"
        [recommendTitle]="'热门推荐'"
        [recommendCategory]="recommendCategory"
        [showMore]="true"
    >
    </category-tab>
    
    <app-album-list
        class="app-album-list"
        [songListData]="songListMainPage"
        (onAddtoListMain)="getPlayList($event)"
    >
    </app-album-list>

    <category-tab
        class="app-main-page-recommend-tab"
        [recommendTitle]="'精选专辑'"
        [showMore]="false"
    >
    </category-tab>
    <app-album-list
        class="app-album-list"
        [ablumListData]="ablumListData"
        (onAddtoListMain)="getPlayListAblum($event)"
    >
    </app-album-list>
    



    <category-tab
        class="app-main-page-recommend-tab"
        [recommendTitle]="'最近在听'"
        [showMore]="true"
    ></category-tab>
    <!-- <app-easypalyerlist
        [latestMusicList]="latestMusicList"
    >
        
    </app-easypalyerlist> -->

</div>