.editPage{
    width: 80%;
    margin: auto;
    min-height: calc(100vh - 3.5rem);
    padding-top: 3.5rem;
    background-color: #ffeeee;
    .title{
        padding: 1.5rem;
        padding-bottom: 0.25rem;
        height: 3rem;
        line-height: 3rem;
        font-size: 2.3rem;
        font-weight: 600;
        color: #ffadad;
    }
}

.main{
    margin-left: 2.5rem;
    margin-top: 1rem;
    .create{
        margin-top: 2rem;
    }
    .edit{
        margin-top: 2rem;
    }
    .tabTitle{
        height: 2rem;
        line-height: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: #ff226c;
    }
    ::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline{
        border-color: #fe7777 !important;
    }
}


.ablumAdd{
    margin-top: 3rem;
    overflow: hidden;
    .ablumAddMain{
        display: flex;
        margin-top: 1rem;
        .rightImage{
            margin-top: 0.25rem;
            margin-left: 2rem;
            .ablumCover{
                width: 17rem;
                height: 17rem;
                border: #ff226c 0.25rem solid;
                border-radius: 10px;
            }
            
            .ablumCoverNone{
                width: 17rem;
                height: 17rem;
                border: #ff226c 0.25rem dashed;
                border-radius: 10px;
                position: relative;
                &-tip{
                    color: #ff226c;
                    font-size: 1rem;
                    transform: translate(-50%,-50%);
                    top:50%;
                    left: 50%;
                    position: absolute;
                }
            }
        }
    }
    .ablumSubmitBtn{
        margin-top: 1rem;
        width: 32.75rem;
        height: 2.5rem;
        border-radius: 5px;
        background-color: #ff226c;
        color: #fff;
        font-size: 1.2rem;
    }
    .input{
        display: none;
    }
    .inputBtn{
        //width: 100%;
        width: 13.1875rem;
        display: block;
        font-size: 1rem;
        height: 2rem;
        line-height: 2rem;
        padding:0.75rem 0rem;
        border-radius: 0.25rem;
        border: none;
        cursor: pointer;
        background-color: pink;
        color: #ff226c;
        border-radius: 5px;
        text-align: center; 
    }
    .inputBtn:active{
        background-color: #ff91a3;
        color: #ba1a4f;
    }
    //.angularInput{}
    
    
}

.musicInfoAdd{
    margin-top: 3rem;
    overflow: hidden;
    .musicInfoAddMain{
        display: flex;
        margin-top: 1rem;
        .middlelabel{
            margin-top: 0.25rem;
            margin-left: 2rem;
            width: 16rem;
           
        }
        .rightlabel{
            margin-top: 0.25rem;
            margin-left: 0.5rem;
            width: 25rem;
        }
        .infoAblum{
            height: 2rem;
            line-height: 2rem;
            font-size: 1.3rem;
            font-weight: 600;
            color: #ff5656;
        }
        .infoAblumTips{
            margin-top:1.5rem;
            font-size: 1rem;
            font-weight: 600;
            color: #ffadad;
        }
        .infoAblumLabel{
            margin-top:0.75rem;
            margin-left: 0.75rem;
            font-size: 1rem;
            font-weight: 600;
            color: #ffadad;
        }
        .infoAblumImg{
            margin-top:0.75rem;
            margin-left: 0.75rem;
            width: 12rem;
            height: 12rem;
            border: #ff226c 2px solid;
            border-radius: 10px;
        }
        .infoReconed{
            margin-top:0.75rem;
            margin-left: 0.75rem;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: #fe7777;
        }
        .musicJsLabel{
            margin-top:0.75rem;
            margin-left: 2rem;
            font-size: 1rem;
            font-weight: 600;
            color: #ffadad;
        }
        .musictext{
            margin-top:0.75rem;
            margin-left: 1rem;
            font-size: 1rem;
            font-weight: 600;
            color: #ff0077;
        }
        .musictextspan{
            font-size: 1.1rem;
            font-weight: 600;
            color: #ff0077;
        }
        .infoReconedTips{
            margin-top:1.5rem;
            text-align: center;
            font-size: 1rem;
            font-weight: 600;
            color: #ffadad;
        }
        .audio{
            width: 25rem;
            margin-top:0.75rem;
            border-radius: 10px;
            background-color: #ffbbd2;
        }
        .audio::-webkit-media-controls-panel{
            background-color: #ffbbd2;
        }
    }
    .musicSubmitBtn{
        margin-top: 1rem;
        width: 56.75rem;
        height: 2.5rem;
        border-radius: 5px;
        background-color: #ff226c;
        color: #fff;
        font-size: 1.2rem;
    }
    .input{
        display: none;
    }
    .inputBtn{
        //width: 100%;
        width: 25rem;
        display: block;
        font-size: 1rem;
        height: 2rem;
        line-height: 2rem;
        padding:0rem;
        border-radius: 0.25rem;
        border: none;
        cursor: pointer;
        background-color: pink;
        color: #ff226c;
        border-radius: 5px;
        text-align: center; 
    }
    .inputBtn:active{
        background-color: #ff91a3;
        color: #ba1a4f;
    }
}

.songlistAdd{
    margin-top: 3rem;
    overflow: hidden;
    .songlistAddTitle{
        height: 2rem;
        line-height: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: #ff226c;
    }   
    .songSubmitBtn{
        //margin-top: 0.5rem;
        width: 86.25rem;
        height: 2.5rem;
        border-radius: 5px;
        background-color: #ff226c;
        color: #fff;
        font-size: 1.2rem;
    }
    .right{
        margin-left: 2rem;
        .rightTitle{
            margin-left: 0.5rem;
            height: 1.3rem;
            line-height: 1.3rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: #ff5656;
        }  
    }
    .songListSearchList{
        height: 18rem;
        position: relative;
        .list-item{
            ::ng-deep .mdc-list-item__primary-text{
                display: flex;
                
                height: 2rem;
                align-items: center;
            }
            .list-item-title{
                width: 40%;
                color: #7d0032;
                display: inline-flex;
                align-items: center;
            }
            .list-item-title > span{
                white-space: nowrap;
                overflow: hidden; 
                text-overflow: ellipsis;
            }
            .list-item-style{
                width: 10%;
                height: 2rem;
                color: #7d0032;
                display: inline-flex;
                align-items: center;
            }
            .list-item-style > span{
                white-space: nowrap;
                overflow: hidden; 
                text-overflow: ellipsis;
            }
            .list-item-author{
                width: 35%;
                height: 2rem;
                color: #7d0032;
                display: inline-flex;
                align-items: center;
            }
            .list-item-author > span{
                padding: 0 1rem;
                white-space: nowrap;
                overflow: hidden; 
                text-overflow: ellipsis;
            }
            
            .list-item-share{
                display: flex;
                justify-content: space-between;
                width: 10%;
                height: 2rem;
                align-items:center;
            }
        }
    }
    .paginator{
        height: 2rem;
        background-color: #ffcfd7;
        border-radius: 5px;
    }
    ::ng-deep .mat-mdc-paginator-container{
        min-height: 2rem;
        background-color: #ffcfd7;
        border-radius: 5px;
    }
    ::ng-deep .mat-mdc-icon-button.mat-mdc-button-base{
        width:1.5rem;
        height: 1.5rem;
        padding: 0px;
    }
    .songListSearchTips{
        left: 50%;
        top:50%;
        position: absolute;
        transform: translate(-50%,-50%);
        font-size: 1.5rem;
        font-weight: 600;
        color: #ff226c;
    }
}
.songlistAddMain{
    display: flex;
    margin-top: 0.5rem;
    .input{
        display: none;
    }
    .inputBtn{
        //width: 100%;
        width: 13.1875rem;
        display: block;
        font-size: 1rem;
        height: 2rem;
        line-height: 2rem;
        padding:0.75rem 0rem;
        border-radius: 0.25rem;
        border: none;
        cursor: pointer;
        background-color: pink;
        color: #ff226c;
        border-radius: 5px;
        text-align: center; 
    }
    .inputBtn:active{
        background-color: #ff91a3;
        color: #ba1a4f;
    }
    .leftlabel{
        .leaftlabelTilte{
            margin-left: 0.5rem;
            height: 1.3rem;
            line-height: 1.3rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: #ff5656;
        }
        .leftlabel-up{
            display: flex;
            margin-top: 0.5rem;
            
        }
        .leftlabel-right{
            margin-top: 0.4rem;
            margin-left: 2rem;
            .songListImg{
                width: 12rem;
                height: 12rem;
                border: #ff226c 0.25rem solid;
                border-radius: 10px;
            }
            
            .songListImgNone{
                width: 12rem;
                height: 12rem;
                border: #ff226c 0.25rem dashed;
                border-radius: 10px;
                position: relative;
                &-tip{
                    width:100%;
                    text-align: center;
                    color: #ff226c;
                    font-size: 1rem;
                    transform: translate(-50%,-50%);
                    top:50%;
                    left: 50%;
                    position: absolute;
                }
            }
        }
        .angularTextArea{
            margin-top: 1rem;
            width: 28rem;
            height: 13.5rem;
        }
    }
}
.rightMain{
   margin-left: 0.75rem;
    .songListSearch{
        display: flex;
        justify-content: space-between;
    }
    .songListSearch-check{
        //margin-right: 1rem;
        //width: 18.5rem;
        ::ng-deep
            .mat-mdc-form-field-subscript-wrapper,
            .mat-mdc-form-field-bottom-align{
                display: none;
        }
    }
    .songListSearchBtn{
        margin-top: 0.75rem;
        height: 1.5rem;
        width: 55.5rem;
    }
}
.lyricAdd{
    margin-top: 3rem;
    overflow: hidden;
    display: flex;
    .lyricRight{
        width: 50%;
    }
    .lyricLeft{
        width: 50%;
    }
    .lyricTitle{
        margin-left: 0.5rem;
        height: 1.3rem;
        line-height: 1.3rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: #ff5656;
    }
    .lyricRightUpper{
        margin-top: 1rem;
        margin-left: 0.75rem;
        display: flex;
    }
    .lyricRightInfo{
        margin-left: 0.75rem;
    }
    .musicSearchBtn{
        width: 13.1875rem;
        font-size: 1rem;
        height: 3.5rem;
        line-height: 2rem;
        border-radius: 0.25rem;
        border: none;
        cursor: pointer;
        background-color: pink;
        color: #ff226c;
        border-radius: 5px;
        text-align: center; 
        padding: 0.75rem 0;
    }
    .contentRight{

    }
    .contentLeft{
       margin-left: 1rem;
       width: 65%;
    }
    .lyricSearchList{
        height: 21rem;
        padding: 0;
        position: relative;
        .list-item{
            ::ng-deep .mdc-list-item__primary-text{
                display: flex;
                
                height: 2rem;
                align-items: center;
            }
            .list-item-title{
                width: 40%;
                color: #7d0032;
                display: inline-flex;
                align-items: center;
            }
            .list-item-title > span{
                white-space: nowrap;
                overflow: hidden; 
                text-overflow: ellipsis;
            }
            .list-item-style{
                width: 20%;
                height: 2rem;
                color: #7d0032;
                display: inline-flex;
                align-items: center;
            }
            .list-item-style > span{
                white-space: nowrap;
                overflow: hidden; 
                text-overflow: ellipsis;
            }
            .list-item-author{
                width: 40%;
                height: 2rem;
                color: #7d0032;
                display: inline-flex;
                align-items: center;
            }
            .list-item-author > span{
                padding: 0 1rem;
                white-space: nowrap;
                overflow: hidden; 
                text-overflow: ellipsis;
            }
        }
        ::ng-deep .mdc-list-item--with-trailing-radio .mdc-list-item__end{
            margin: 0;
        }
    }
    .paginator{
        height: 2rem;
        background-color: #ffcfd7;
        border-radius: 5px;
    }
    ::ng-deep .mat-mdc-paginator-container{
        min-height: 2rem;
        background-color: #ffcfd7;
        border-radius: 5px;
    }
    ::ng-deep .mat-mdc-icon-button.mat-mdc-button-base{
        width:1.5rem;
        height: 1.5rem;
        padding: 0px;
    }
    .lyricSearchTips{
        width: 100%;
        text-align: center;
        left: 50%;
        top:50%;
        position: absolute;
        transform: translate(-50%,-50%);
        font-size: 1.5rem;
        font-weight: 600;
        color: #ff226c;
    }
}
.lyricSubmitBtn{
    margin-top: 0.5rem;
    width: 97.5%;
    height: 2.5rem;
    border-radius: 5px;
    background-color: #ff226c;
    color: #fff;
    font-size: 1.2rem;
}