<div 
    class="footerPlayer" 
    (click)="selfClick = true">
    <div class="hand">
        <!-- 唤醒播放器显示 -->
    </div>
    <div class="lock">
        <!-- 锁住播放器 -->
    </div>
    

    <div class="container">
        <div class="warp">
            <div class="btns">
                <!-- 按钮组 -->
                 <!-- (click)="increment()" (click)="decrement()" -->
                <button
                    class="btns-prev"
                    mat-icon-button 
                    (click)="onPrevSong(currentIndex - 1)"
                    >
                    <mat-icon>skip_previous</mat-icon>
                </button>
                @if(!isPlaying){
                    <button
                    class="btns-play"
                    mat-icon-button 
                    [disabled]="!songReady"
                    (click)="playSong()"
                    >
                    <mat-icon>play_circle_outline</mat-icon>
                </button>
                }
                @else{
                    <button
                        class="btns-play"
                        mat-icon-button 
                        [disabled]="!songReady"
                        (click)="playSong()"
                        >
                        <mat-icon>pause_circle_outline</mat-icon>
                    </button>
                }
                <button
                    class="btns-prev"
                    mat-icon-button 
                    (click)="onNextSong(currentIndex + 1)"
                    >
                    <mat-icon>skip_next</mat-icon>
                </button>
            </div>
            <div class="cover">
                <img 
                    src="{{currentPlaySong != undefined ? currentPlaySong.ablumCover : defalutSrc?.src}}" 
                    alt="cover" 
                    class="coverImg"
                >
                <!-- 小的封面 -->
            </div>
            <div class="mainwork">
                <audio 
                    #audioPlayer
                    [src]="currentPlaySong?.musicUrl"
                    (canplay)="canPlay($event)"
                    (timeupdate)="onTimeUpdate($event)"
                    (ended)="onEnded()"
                    >
                </audio>

                <div class="title">
                    <!-- 标题 singger -->
                    <span >{{currentPlaySong != undefined ? currentPlaySong.musicName : "暂无播放歌曲"}}</span>
                    <span class="singger">{{currentPlaySong?.musicSinger}}</span>
                    <span class="singger">{{currentPlaySong?.musicAuthor}}</span>
                </div>
                <div class="bar">
                    <div class="slider-warp">
                        <!-- 进度条 -->
                       <!--  <div    #audioSlider></div> -->
                        <mat-slider
                            class="musicSlider"
                            >
                            <input 
                                matSliderThumb 
                                #slider
                                [(ngModel)]="songPercent" 
                                (dragStart)="dragStartFunction()"
                                (dragEnd)="dragEndFunction($event)"
                            >
                        </mat-slider>
                        <div class="time">
                            <span>{{currentTime | playerTimeFormat}}</span>
                            <span>/</span>
                            <span>{{durationTime | playerTimeFormat}}</span>
                        </div>
                    </div>
                </div>
                
            </div>
            
           
            <div class="oper">
                <button
                    class="oper-collection"
                    mat-icon-button 
                    >
                    <mat-icon>grade</mat-icon>
                </button>
                <button
                    class="oper-lrcs"
                    mat-icon-button 
                    >
                    <mat-icon>library_music</mat-icon>
                </button>
            </div>
            <div class="ctrl">
                <button
                    class="ctrl-volume"
                    mat-icon-button 
                    (click)="onShowVolumeSlider($event)"
                    >
                    <mat-icon>volume_up</mat-icon>
                </button>
                
                <button
                    class="ctrl-repeat"
                    mat-icon-button 
                    (click)="modeChange()"
                    >
                    <mat-icon>{{currentModeIcon}}</mat-icon>
                    <!-- 
                        <mat-icon>repeat_one</mat-icon>
                        <mat-icon>shuffle</mat-icon>
                        <mat-icon>repeat</mat-icon> 
                    -->
                </button>
                

                <button
                    class="ctrl-list"
                    mat-icon-button 
                    (click)="showMusicList()"
                    >
                    <mat-icon>queue_music</mat-icon>
                </button>
            </div>

            <div class="floating">
                <div 
                    class="volume-slider-frame" 
                    [hidden]="!volumeSlider">
                    <mat-slider
                        class="volume-slider"
                        [discrete]="true"
                        >
                        <input 
                            matSliderThumb 
                            #slider
                            [(ngModel)]="volumeValue" 
                            (valueChange)="volumeChange($event)"
                        >
                    </mat-slider>
                </div>
                
            </div>
        </div>
    </div>

    <!--  -->
</div>
