<div class="albumCard">
    <div class="albumCard-cover">
        <img 
            class="albumCard-cover-img"
            [src]="ablumEasyInfoImg" 
        >
        <div class="albumCard-state">
            <mat-icon></mat-icon>
            <span>
                {{ablumEasyInfoView}}
            </span>
            <!-- <button
            
            >
            <mat-icon></mat-icon>
            </button> -->
        </div>
    </div>
    <div class="albumCard-title">
       {{ablumEasyInfoTitle}}
    </div>
</div>