<div class="albumCard">
    <div class="albumCard-cover">
        <img 
            class="albumCard-cover-img"
            [src]="ablumEasyInfoImg" 
        >
        <div class="albumCard-state">
            <div style="display: flex;">
                <mat-icon class="leftIcon">headset</mat-icon>
                <span class="leftNum">
                    {{ablumEasyInfoView}}
                </span>
            </div>
            
            <mat-icon 
                class="rightIcon"
                (click)="addSongtoPlayerList()">
                play_circle_outline
            </mat-icon>
            <!-- <button
            
            >
            <mat-icon></mat-icon>
            </button> -->
           
        </div>
    </div>
    <div class="albumCard-title">
       {{ablumEasyInfoTitle}}
    </div>
</div>