<div class="recommend">
    <div>
        <mat-icon>adjust</mat-icon>
        <span>
            {{recommendTitle}}
        </span>
        @for (item of category; track $index) {
            <button
                mat-button
                (click)="gotoCategory($index,item)"
                
            >
                {{item}}
            </button>
        }
    </div>
    <div>
        @if (showMore) {
            <button
                mat-button
                (click)="gotoMore()"
            >
                更多
                <mat-icon>navigate_next</mat-icon>
            </button>
        }
    </div>
</div>