<div>
    test
    11111
    <!-- <div class="example-ripple-container mat-elevation-z4"
             mat-ripple 
             [matRippleCentered]="false"
             [matRippleDisabled]="false"
             [matRippleUnbounded]="bound"
             [matRippleRadius]="200"
             [matRippleColor]="'#abc'">
         Click me
         </div> -->
     <img ngSrc="{{test}}" width="400" height="200" priority>
     <!-- <audio controls src="{{audio}}" >
         
       </audio> -->
       <br>
       <br>
       <br>
       <br>
       <span>创建歌单</span>
       <input type="file" multiple (change)="uploadSongList($event)" />

       <span>上传歌曲</span>
       <input type="file" multiple (change)="uploadLocalMusic($event)" />

       <span>创建专辑</span>
       <input type="file" multiple (change)="uploadLocalImg($event)" />


       <audio #audioPlayer controls preload="none">
         Your browser does not support the audio element.
       </audio>

       <button (click)="getLIST()">
          getMuc444
       </button>

       <button (click)="postLyric()">postlyric</button>
       <button (click)="getLyric()">getlyric</button>

      
     
  </div>
