
<div class="album-list">
    @if(songListData.length > 0){
        @for(item of songListData; track $index){
            <app-album-card
                [ablumEasyInfoId] = "item._id"
                [ablumEasyInfoTitle] ="item.songListName"
                [ablumEasyInfoImg] ="item.ImgRaw"
                [songListPop]="item.songListPop"
                (onAddtoList)="onAddtoList($event)"
            >
            </app-album-card>
        }
    }
    @if(ablumListData.length > 0){
        @for(item of ablumListData; track $index){
            <app-album-card
                [ablumEasyInfoId] = "item.ablumId"
                [ablumEasyInfoTitle] ="item.ablumName"
                [ablumEasyInfoImg] ="item.coverRaw"
                [songListPop]="item.ablumPop"
                (onAddtoList)="onAddtoList($event)"
            >
            </app-album-card>
        }
    }
</div>
